
<h1 id="header_waiver">
	Bicycle Rental Assumption of Risk, Waiver &amp; Release Agreement
</h1>

<p class="wavier_par">
	<b>Assumption of Risk:</b> I understand and accept that renting this bicycle and participating in the biking exposes me to many hazards and entails unavoidable risk of death, personal injury (including but not limited to severe spinal or head injury) and loss of or damage to property. I also understand I should be in good physical health to participate in bicycling. I choose to participate in bicycling in spite of these risks and hereby assume all risk of injury or loss of life to myself and loss of or damage to property arising out of renting this bicycle and participating in bicycling. I understand the inherent risk involved in using this equipment, accept full responsibility for any and all such damage or injury which may result. 
</p>

<p class="wavier_par">
	<b>Waiver &amp; Release:</b> In consideration of Rolling Pine Bike Rentals LLC renting me this bicycle, I specifically release and forever discharge Rolling Pine Bike Rentals LLC and its officers, agents, and employees from any and all liability or claims for injury, illness, death or loss of or damage to property which I may suffer while renting this bicycle and participating in bicycling. This discharge specifically includes, but is not limited to, liability or claims for injury, illness, death or damaged caused by the negligence of Rolling Pine Bike Rentals LLC or its officer agents, or employees. It is my intent by the Waiver and Release Agreement to release Rolling Pine Bike Rentals LLC and hold harmless from all liability for any such property loss or damage, personal injury or loss of life, whether caused by negligence of Rolling Pine Bike Rentals LLC or whether based upon breach of contract, breach of warranty, or any other legal theory. 
</p>

<p class="wavier_par">
	In signing this document, I fully recognize that if injury, illness, death or damage occurs to me while I am engaged in renting this bicycle or participating in bicycling, I will have no right to make a claim or file a lawsuit against Rolling Pine Bike Rentals LLC, its officers, agents or employees, even if they or any of them negligently cause my injury, illness, death or damage. I understand that this activity may result in severe injury, including but not limited to spinal or head injury. I understand that this activity may result in hazards posed by other bicycles and traffic or road conditions. I understand how to operate the rental bicycle and brakes and how to adjust the seat and quick releases. Rolling Pine Bike Rentals LLC staff have answered any questions that I have. I understand these bicycles do not have visibility enhancement equipment such as reflectors or lights. I understand I am liable for lost or stolen rental bike and I will compensate Rolling Pine Bike Rentals LLC for the cost of replacement. 
</p>

<p class="wavier_par">
	I HAVE CAREFULLY READ THIS AGREEMENT AND UNDERSTAND ITS CONTENT. I AM AWARE THIS IS AN ASSUMPTION OF RISK, WAIVER AND RELEASE OF LIABILITY AND I SIGN IT VOLUNTARILY. I ALSO UNDERSTAND THAT I SHOULD NOT AND MAY NOT PARTICIPATE IN THIS ACTIVITY IF I AM UNDER THE INFLUENCE OF ALCOHOL OR DRUGS

</p>

<%= button_to "I Agree"%>

<style type="text/css">
	/*Test nav*/
	header {
		height: 5vh; 
	}
	#page_nav {
	  float:right;
	  margin: 0 5% 0 0;
	}
	#header_waiver {
	text-align: center;
	}
	.wavier_par {
		padding-top:5vh;
	}
	img {
	  display:none;
	}

	/*end Test nav*/
</style>